.swipe-right-leave-to {
    transform: translateX(50%) rotateY(10deg);
    opacity: 0;
}

.swipe-right-enter-from {
    transform: translateX(-50%) rotateY(-10deg);
    opacity: 0;
}

.swipe-right-enter-active,
.swipe-right-leave-active {
    transition: all 0.2s ease;
}
